@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@500;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Plus Jakarta Sans', sans-serif;
}

/* ### Colors Fonts

- Red: hsl(1, 90%, 64%)
- Blue: hsl(219, 85%, 26%)

### Neutral

- White: hsl(0, 0%, 100%)
- Very light grayish blue: hsl(210, 60%, 98%)
- Light grayish blue 1: hsl(211, 68%, 94%)
- Light grayish blue 2: hsl(205, 33%, 90%)
- Grayish blue: hsl(219, 14%, 63%)
- Dark grayish blue: hsl(219, 12%, 42%)
- Very dark blue: hsl(224, 21%, 14%) */
/* - Mobile: 375px
- Desktop: 1440px */

:root {
    --font-primaryRed-color: hsl(1, 90%, 64%);
    --font-primaryBlue-color: hsl(219, 85%, 26%);
    --font-neutralWhite-color: hsl(0, 0%, 100%);
    --font-neutralBlue-color: hsl(210, 60%, 98%);
    --font-neutralBlue1-color: hsl(211, 68%, 94%);
    --font-neutralBlue2-color: hsl(205, 33%, 90%);
    --font-neutralBlue-color: hsl(219, 14%, 63%);
    --font-neutralDarkBlue-color: hsl(219, 12%, 42%);
    --font-neutralVeryDarkBlue-color: hsl(224, 21%, 14%);
}

/* HEADER */

.header {
    max-width: 90%;
    height: 2rem;
    margin: 1rem auto;
    /* border: 1px solid red; */
}

.header_title_notifications {
    width: fit-content;
    display: flex;
    gap: 10px;
}

.header_text_notifications {
    color: var(--font-neutralVeryDarkBlue-color);
    font-weight: 800;
    font-size: 16px;
}

.header_box_number_notifications {
    width: 1.3rem;
    height: 1.4rem;
    background-color: var(--font-primaryBlue-color);
    color: var(--font-neutralWhite-color);
    text-align: center;
    font-size: 16px;
    border-radius: 20%;
}

/* END HEADER */